.disable-btn{
  display: block;
  width: 240px;
  min-height: 60px;
  background: #B1AEAC;
  border: 1px solid #B1AEAC;
  border-radius: 8px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  margin: 20px;
  color: #ffffff;
}

.active-btn{
  display: block;
  width: 240px;
  min-height: 60px;
  background: #45C486;
  border: 1px solid #45C486;
  border-radius: 8px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  margin: 20px;
  color: #ffffff;
}